body {
    background-color: #B8B5FF;
  }

hr {
     border-style: none;
     border-top-style: dotted;
     border-color: grey ;
     border-width: 5px;
     width: 5%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

img:hover {
  background-color: grey;
}

/* juicewrld */
.juicewrld {
  background-color: black;
}

/* brocolli*/
.brocolli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}
